@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html,body
{
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Comfortaa', cursive !important;
    color:#312e5f !important;
}
