.Homepage{
   padding-top:90px;
   background-color:#F1EAFF;
   /* height:675px; */
}

.main_homepage_text{
   padding:20px;
   display: grid;
   grid-template-columns:repeat(2,1fr);
   gap:5px;
   margin-top:20px;
}

.main_head_text{
   padding:20px;
}

.main_head_text>h1{
   color: #312e5f;
   font-size: 39px;
   margin-top: 2rem;
   line-height: 50px;
}

.main_head_text>p{
   color: black;
    margin-top: -21px;
    width: 76%;
    font-size: 13px;
    line-height: 25px;
}

.main_image_section{
   padding:15px;
}

.rounded>img{
   width:85%;
   height: 254px;
   margin-bottom:10px;
   border-top-right-radius: 150px;
   border-bottom-right-radius: 150px;
}

.left>img{
   border-top-left-radius: 150px;
   border-bottom-left-radius: 150px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
}

.main_head_contact{
   display:flex;
   flex-direction: row;
   height:60px;
   margin-top:47px;
}

.main_head_contact>div{
   width:210px;
   text-align:center;
   padding: 10px 30px  10px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 19px;
   box-sizing: border-box;
   font-weight:600;
   cursor: pointer;
}

.color-white{
   color: #312e5f !important;
}

.main_head_contact>div:nth-child(1){
   background-color:#312e5f;
   color:white !important;
   text-decoration: none;
}
.main_head_contact>div:nth-child(1):hover{
   border: 2px solid #312e5f;
   background-color: transparent;
   color:#312e5f !important;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.main_head_contact>div:nth-child(2):hover{
   /* border: 2px solid #312e5f; */
   background-color: transparent;
   color:#312e5f;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   margin-left: 10px;
}

.main_head_contact>div:nth-child(2)>a{
   color:#312e5f;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.animated-button {
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.animated-button .text {
   margin-right: 8px;
 }
 
 .animated-button .icon {
   display: inline-block;
   transition: transform 0.3s ease;
 }
 
 .animated-button:hover .icon {
   transform: translateX(15px);
 }
 .call-button {
   transition: background-color 0.3s ease;
   overflow: hidden;
 }
 
 .call-button .icon {
   margin-right: 8px;
   font-size: 20px;
   display: inline-block;
   animation: none;
 }
 
 .call-button:hover .icon {
   animation: buzz 0.3s infinite linear;
 }

 @keyframes buzz {
   0%, 100% {
     transform: translateX(0);
   }
   25% {
     transform: translateX(-2px);
   }
   50% {
     transform: translateX(2px);
   }
   75% {
     transform: translateX(-2px);
   }
 }

 .get-start{
    background-color: white !important;
 }

 .get-start>span{
   color:#312e5f;
 }

.testimonial{
   position:absolute;
   top: 91%;
   left: 63%;
   height: 220px;
   width: 418px;
   padding:10px 10px 10px 0px;
}

.slideshow {
   margin: 0 auto;
   overflow: hidden;
   max-width: 100%;
 }
 
 .slideshowSlider {
   white-space: nowrap;
   transition: ease 1000ms;
 }
 
 .slide {
   display: inline-block;
   gap:10px;
   height: 220px;
   width: 100%;
   padding:30px;
   box-sizing: border-box;
   color:black;
   font-size:16.3px;
   margin-right:5px;
   background-color: white;;
 }

 .slide_details{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top:40px;
 }

 .slide_details>div:nth-child(1){
   display: flex;
   gap:10px;
 }

 .slider_image{
   border-radius:50%;
 }

 .slider_image>img{
   border-radius: 50%;
 }
.visitors>div>h1{
   font-size:2.5rem;
   line-height:68px;
}
 .client_slider{
   width:100%;
   padding:20px 0px 20px 0px;
 }


 .client_slider>div{
   width:100%;
 }

 .slick-next{
   right:0;
 }
 .slick-prev:before,
.slick-next:before {
   display:none;
}

.about_wrytr{
   display:flex;
   flex-direction: row;
   gap:30px;
   padding:20px;
   height:503px;
}

.about_wrytr>div{
   width:50%;
   box-sizing: border-box;
}

.about_wrytr_text{
   padding: 25px 53px 25px 39px;
   color: black;
   font-size: 14px;
   line-height: 23px;
}

.about_wrytr_text>div>p:nth-child(1){
   color: #312e5f;
   font-size: 1.7rem;
   font-weight: 800;
   line-height: 38px;
}

.working_man{
   margin:10px;
   position: absolute;
   height:503px;
   margin-right:40px;
}

.position{
   position:relative;
   top:0;
   left:0;
}

.color{
   background-color: #F1EAFF;
   width: 509px;
   height: 345px;
   border-radius: 10px;
   top: 55px;
   left: 69px;
}

.img {
   top: -256px;
   left: 27px;
}

.img>img{
   width: 528px;
   height: 345px;
   border-radius: 10px;
}
.dot_imgs {
   top: -131%;
   left: -11px;
}
.dot_imgs>img {
   width: 130px;
   height: 110px;
}

.business_idea{
   background-color: #312e5f;
   padding:40px;
   color:white;
}

.business_idea>div:nth-child(1){
   width:530px;
   margin:auto;
   font-size: 2rem;
   font-weight:700;
   text-align: center;
   padding-top:10px;
   line-height: 47px;
}

.business_idea_grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap:60px;
   margin-top: 30px;
}

.business_idea_grid>div{
   text-align: center;
   padding:30px 0px 30px 0px;
}

.grid_box>img{
   width:162px;
   height:162px;
}

.grid_box_heading{
   font-size: 1.5rem;
    font-weight: 600;
}

.grid_box_heading~p{
   line-height: 28px;
   font-size: 0.85rem;
    font-weight: 400;
}
.read_more_btn{
   display: flex;
   justify-content: center;
   gap: 15px;
   font-size: 18px;
   font-weight: 600;
   align-items: center;
   color: white;
   text-decoration: none !important;
}
/* --------- strategy-------- */
.stratgy{
   background-color: #F1EAFF;
   padding:45px;
}

.stratgy_heading{
   display: flex;
   justify-content: space-between;
   gap:45px;
   padding:10px;
}
.stratgy_heading>div{
   width:50%;
   box-sizing: border-box;
   padding-top:20px;
}

.stratgy_heading>div:nth-child(1){
   font-size: 1.7rem;
   line-height: 41px;
   color:#312e5f;
   font-weight:600;
   padding-right:50px;
}

.stratgy_heading>div:nth-child(2){
   text-align: right;
   color: black;
   font-size: 0.9rem;
   line-height: 28px;
   padding-left: 53px;
   display: flex;
   flex-direction: column-reverse;
   font-weight:500;
}

.stratgy_boxes{
   padding: 50px 0px;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap:45px;
}

.stratgy_boxes>div{
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   padding:40px;
   text-align: left;
   background-color: white;
}

.stratgy_boxes>div:hover{
   /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
   /* border: 2px solid #312e5f; */
   box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.contact-visitor{
   background-color:#312e5f;
   color:white;
   margin-bottom: 15px;
   text-decoration: none !important;
   padding-block: 20px !important;
   height: 60px;
   margin-top: -10px ;
}

.stratgy_boxes>div>h3{
   font-size: 21px;
    font-weight: revert;
    color:#312e5f;
}

.stratgy_boxes>div>h4{
   font-size: 20px;
   font-weight: revert;
    color:#312e5f;
}

.stratgy_boxes>div>img:hover{
   border-radius: 50%;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.stratgy_boxes>div>p {
   font-size: 13px;
   line-height: 22px;
   font-weight: 500;
   color: black;
}

.check_mark{
   height: 50px;
   width: 50px;
   border-radius: 50%;
   background-color: #E0E5D6;
   text-align: center;
   color: #312e5f;
   font-size: 24px;
   box-sizing: border-box;
   padding-top:11px;
}

/* ----- testimonial------ */

.testimonial_section{
   padding:45px;
}

.client_testimonial{
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   gap:50px;
   /* margin:100px 0px; */
}

.client_overview{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.client_overview>h1{
   font-size:2rem;
   color:#312e5f;
}

.client_overview>p{
   font-size:0.9rem;
   line-height: 30px;
   color: black;
}

.client_testimonal {
   width: 617px;
}

.testimonial_slides{
   background-color: #F1EAFF;
   padding:45px;
}

.client_image{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-top:22px;
}

.slides_text{
   line-height:23px;
   font-size:0.9rem;
}

.image{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap:20px;
}

.image>div>img{
   width:55px;
   height:55px;
   border-radius:50%;
   border: 1px solid black;
   padding: 2px;
}
/* ------ testimonial ends ------ */

/* --------- counter number -------- */
.counter_number{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   justify-content: space-around;
   padding:25px;
}

@media screen and (max-width: 768px) {
   .counter_number{
      grid-template-columns: repeat(3,1fr);
   }
}

@media screen and (max-width: 565px) {
   .counter_number{
      grid-template-columns: repeat(2, 1fr);
   }
   /* .about_wrytr{
      flex-direction: column-reverse;
      height: 710px !important;
   } */
   .about_wrytr>div{
      width: 100%;
   }
   .stratgy_boxes{
      grid-template-columns: repeat(2, 1fr);
   }
   .stratgy_heading{
      flex-direction: column;
   }
   .stratgy_heading>div{
      width: 100%;
   }
   .stratgy_heading>div:nth-child(1){
      font-size: 1.5rem !important;
      padding-right: 0px !important;
   }
   .stratgy_heading>div:nth-child(2){
      padding-left: 0px !important;
      text-align: center;
      padding-top: 0px !important;
   }
   .business_idea_grid{
      grid-template-columns: repeat(1, 1fr);
   }
   .business_idea>div:nth-child(1){
      font-size: 1.5rem !important;
      width: auto;
      line-height: 40px;
      padding-top: 20px !important;
   }
}

.slide_text{
   width:100%;
   color:#312e5f;
}

.counter_number>div{
   text-align: center;
   color:#312e5f;
   font-size:1.2rem;
}
/* ---  counter ends  --- */

.traffic{
   height:60%;
   background-image: url("../../../public/Images/Homepage/image4.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

.visitors{
   background-color: #F1EAFF;
   opacity: 0.7;
   height:100%;
}

.visitors>div{
   width: 87%;
   margin:auto;
   color:#312e5f;
   font-size: 2rem;
   text-align: center;
   line-height: 5.5rem;
   font-weight: bold;
   padding-top: 7%;
   opacity:1;
}

/* ----- wryter-section ----- */
.wryter_section{
   background-color: rgb(241, 234, 255);
   padding:65px 50px;
   color:#312e5f;
   display: grid;
   grid-template-columns: 63% 34%;
   /* gap:40px; */
}
.wryter_section>div:nth-child(1){
   padding:20px 0px;
}
.wryter_section>div:nth-child(1)>h2{
   font-size: 2.3rem;
   line-height: 3.5rem;
   font-weight: bold;
}
.wryter-image>div:nth-child(1)>img{
   width: 110px;
   height: 110px;
}
.wryter-image>div:nth-child(2)>img{
   width: 96%;
    height: 301px;
    margin-top: -20%;
    margin-left: 8%;
    border-radius: 5px;
}
/* ----- end ---- */
   
/* --------- tablet view --------- */
@media screen and (max-width:1028px){
   .main_head_contact>div{
      padding-bottom: 20px;
   }
   .main_head_text>h1{
      margin-top:1.5rem;
      font-size: 35px;
   }
   .main_head_text>p{
      margin-top:0;
      width:100%;
   }
   .rounded>img {
      width: 105%;
      height: 200px;
   }
   .testimonial{
      display:none;
   }
   /* .Homepage{
      height:500px;
   } */
   .about_wrytr_text{
      padding:5px 0px 10px 0px;
   }
   .about_wrytr_text>div>p:nth-child(1){
      font-size:19px;
      line-height: 32px;
   }
   .dot_imgs>img {
      width: 115px;
      height: 98px;
  }
  .about_wrytr{
      gap:5px;
      height:420px;
  }
  .img {
      top: -243px;
      left: -4px;
   }
   .business_idea {
      padding: 21px;
  }
    .dot_imgs {
      top: -117%;
      left: -20px;
   }
   .color{
      width: 361px;
      height: 308px;
      top: 41px;
      left: 28px;
   }
   .img>img {
      width: 361px;
      height: 308px;
   }
   .client_slider{
      margin-top:5%;
   }
   .business_idea_grid{
      gap:15px;
   }
   .grid_box_heading{
      font-size:20px;
   }
   .business_idea>div:nth-child(1) {
      font-size: 40px;
      padding-top: 50px;
   }
   .stratgy{
      padding:22px;
   }
   .stratgy_heading{
      gap:18px;
   }
   .grid_box_heading~p {
      line-height: 28px;
      font-size: 13px;
   }
  .stratgy_heading>div:nth-child(1) {
      font-size: 37px;
      padding-right: 10px;
   }
   .stratgy_heading>div:nth-child(2) {
      font-size: 0.8rem;
      line-height: 25px;
      padding-left: 52px;
   }
   .stratgy_boxes>div>h4 {
      font-size: 15px;
   }
   .slides_text {
      line-height: 21px;
      font-size: 0.7rem;
   }
   .image>div>img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
   }
   .testimonial_slides {
      background-color: #f4faeb;
      padding: 24px;
   }
   .testimonial_section {
      padding: 0px;
   }
   .stratgy_boxes{
      gap:25px;
   }
   .stratgy_boxes>div{
      padding:20px;
   }
   .stratgy_boxes>div>img{
      width:70px;
      height:70px;
   }
   .stratgy_boxes>div>h3 {
      font-size: 15px;
   }
   .client_testimonial{
      gap:15px;
      margin: 16px 0px;
   }
   .client_testimonal {
      width: 380px;
  }
  .client_overview>h1 {
      font-size: 19px;
  }
  .client_overview>p {
      font-size: 0.75rem;
      line-height:27px;
   }
  .client_overview{
   padding:20px;
  }

  .counter_number {
      grid-template-columns: repeat(2,1fr);
      gap:20px;
  }
  .counter_number>div>span{
   font-size:1.6rem !important;
  }
  .counter_number>div>p{
   font-size:0.75rem;
  }
  .traffic{
      background-size: 114% 100%;
      /* background-position-y: 84%; */
  }
  .visitors>div>h1{
      font-size: 2.3rem;
      line-height: 50px;
  }
  .wryter_section {
      padding: 25px 32px;
      grid-template-columns: 63% 24%;
      /* gap: 20px; */
   }
   .wryter_section>div:nth-child(1)>h2 {
      font-size: 1rem;
      line-height: 2.8rem;
   }
   .wryter-image>div:nth-child(1)>img{
      margin-left: -10px;
   }
   .wryter-image>div:nth-child(2)>img {
      width: 157%;
      height: 193px;
      margin-top: -57%;
      margin-left:10px;
   }
   .contact-form {
      padding: 35px 28px;
   }
   .contact-form>div:nth-child(2){
      padding: 15px 13px;
   }
   .email-section>input[type="text"]{
      width:92.5% !important;
   }
   textarea {
      width: 90% !important; 
      height: 85px !important;
      resize: none;
  }
   .message {
      width: 58% !important;
   }
   .form-text{
      font-size: 0.9rem;
      line-height: 25px;
   }
   .form-text>br{
      display:none;
   }
   .form-content>h1 {
      font-size: 2.3rem !important;
   }
}

